In [3]:
import pandas as pd
import numpy as np
from load_data import load_data

In [4]:
df= load_data()

In [ ]:
# Check for missing values in all columns
df.isnull().sum()

order_id             0
customer_id          0
product_category     0
product_name         0
quantity             0
unit_price           0
order_date           0
customer_age         0
customer_region      0
shipping_cost        0
discount_applied     0
total_amount         0
discounted_amount    0
final_amount         0
order_month          0
order_quarter        0
dtype: int64

In [ ]:
# Identify any duplicate
df.duplicated().sum()

np.int64(0)

In [ ]:
# Generate descriptive statistics for all numerical columns
df.describe()

,quantity,unit_price,customer_age,shipping_cost,discount_applied,total_amount,discounted_amount,final_amount,order_month,order_quarter
count,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,3.038000,104.660750,43.16700,14.906120,6.730000,318.065160,297.466176,312.372296,6.499000,2.51000
std,1.430595,54.162115,14.76025,5.800577,5.821597,234.842625,222.282285,222.165918,3.480246,1.12123
min,1.000000,10.120000,18.00000,5.030000,0.000000,11.950000,10.718500,24.775000,1.000000,1.00000
25%,2.000000,57.650000,31.00000,9.867500,0.000000,123.675000,114.892125,128.294375,4.000000,2.00000
50%,3.000000,105.045000,43.00000,14.860000,5.000000,259.210000,244.931750,258.123750,6.000000,2.00000
75%,4.000000,150.390000,56.00000,20.130000,10.000000,483.945000,451.623000,462.295000,10.000000,4.00000
max,5.000000,199.920000,69.00000,24.990000,20.000000,979.600000,968.700000,976.110000,12.000000,4.00000

In [ ]:
# Ensure order_date is properly formatted as datetime
df['order_date'] = pd.to_datetime(df['order_date'], dayfirst=True)

In [ ]:
# Validate that all customer_regions contain only the expected values
df['customer_region'].unique()

array(['West', 'East', 'North', 'South'], dtype=object)

In [ ]:
# Check the range of customer_age to ensure reasonable values (18-70)
min_age= df['customer_age'].min()
max_age= df['customer_age'].max()
print(f'range customer age: {min_age}-{max_age}.')

range customer age: 18-69.